/// Mixin to get the z-index on an element.
///
/// @param {string} $name
///   The name of the z-index level in the z-index map.
/// @output
///   Z-index property and value for the given name.
/// @access public
/// @group Layout
@mixin z-index($name) {
  @if map-has-key($z-index-map, $name) {
    // Unfortunately Drupal sets a z-index of 999 on contextual links, so rather
    // than going with "magic numbers" we can add 998 to any value above the contextual
    // links so that even if the z-index numbers are ridiculous in CSS, they are
    // sane and understandable in the SASS.
    $z-index-value : map-get($z-index-map, $name);
    @if $z-index-value > map-get($z-index-map, 'contextual-links') {
      $z-index-value : $z-index-value + 998;
    }
    z-index: $z-index-value;
  }
}
